<nav class="navbar navbar-light fixed-top mask-custom shadow-0">
  <div class="container-fluid justify-content-center position-relative">
    <!-- Icon with dropdown trigger -->
    <div class="nav-icon-wrapper">
      <img src="{{ '/assets/img/logo_header.png' | relative_url }}" alt="IPaul Media Logo" height="40" class="nav-icon">
      
      <!-- Dropdown menu modal -->
      <div class="nav-dropdown-modal">
        <ul class="nav-menu">
          {% for item in site.data.navigation.main %}
            <li>
              <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% if item.submenu %}
                <ul class="nav-submenu">
                  {% for subitem in item.submenu %}
                    <li><a href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    <!-- Centered brand name -->
    <a class="navbar-brand position-absolute" href="{{ '/' | relative_url }}">
      iPaul<span style="color: #5e9693">Media</span>
    </a>
  </div>
</nav>
